@model List<Lab13.Models.Persona>
@{
    ViewBag.Title = "Listar";
}

<h2>Listado de personas</h2>

<table>
    <tr>
        <th>PersonaID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Fecha Nac.</th>
        <th>Direccion</th>
        <th>Email</th>
    </tr>
</table>

